.box-empresa{
    width: 100%;
    height: 300px;
    padding-top: 5px;
    background-color: #f1f1f0;
}

.box-empresa .titulo-empresa{
    width: 100%;
    height: 40px;
    /* margin-top: 30px; */
    margin-left: 25px;
}

.box-empresa .conteudo-imagem{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    margin-left: 20px;
    margin-right: 20px;
}

.conteudo-imagem .descricao-conteudo{
    width: 70%;
    height: 260px;
    text-align: center;
}

.conteudo-imagem .img-conteudo-empresa{
    width: 30%;
    height: 260px;
    margin-top: 30px;
    text-align: center;
}