header{
    display: flex;
    width: 90%;
    height: 80px;
    align-self: center;
    justify-self: space;
    justify-content: center;
    /* background-color: darkgray; */
}

#img-logo{
    height: 70px;
    width: 170px;
    margin-left: 100px;
    margin-top: 5px;
}

#box-menu{
    height: inherit;
    width: 900px;
    font-family: 'Inter', sans-serif;
}

#lista-menu{
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#lista-menu > li{
    display: flex;
    list-style: none;
    flex-direction: row;
}

#lista-menu > li:hover{
    text-decoration: underline 3px;
}

#box-redes-sociais{
    height: inherit;
    width: 280px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 15px;
}

.itens-redes-sociais{
    height: 50px;
    width: 50px;
    margin-left: 5px;
}