*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-autenticacao{
    width: 400px;
    height: 220px;
<<<<<<< HEAD
    border: solid 2px #9c9c9a;
=======
    border: solid 2px black;
>>>>>>> 2f5cb48211a9f7f41c8c8e42f4bf35ced2a2ef89
    border-radius: 5px;
}

.box-autenticacao .titulos{
    color: #363636;
    margin-top: 5px;
    text-align: center;
}

.box-autenticacao .form-autenticacao{
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-autenticacao .box-login{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.form-autenticacao .box-senha{
    display: flex;
    flex-direction: row;
}

input{
    width: 200px;
    height: 30px;
    outline: none;
    margin-left: 5px;
    border-radius: 5px;
}

.botao{
    width: 60px;
    height: 30px;
    border: none ;
    margin-top: 10px;
    color: white;
    background-color: rgb(138, 3, 3);
<<<<<<< HEAD
}
=======
}




>>>>>>> 2f5cb48211a9f7f41c8c8e42f4bf35ced2a2ef89
